/* Color Variables */
:root {
    --primary-color: #005bb5; /* Primary theme color */
    --secondary-color: #003f7f; /* Darker version of primary for hover effects */
    --highlight-color: #61E000; /* Accent color */
    --background-color: white; /* Background color */
    --text-color: #333; /* Primary text color */
    --light-background: #e0e7ff; /* Light background for items */
    --alternate-background: #f5f8ff; /* Alternate background for sections */
    --alternate-background-light: #dceaff; /* Lighter version for even sections */
    --button-text-color: #005bb5; /* Button text color */
    --footer-background: #005bb5; /* Footer background color */
    --footer-link-color: white; /* Footer link color */
}

/* Refactored CSS */
.logo {
    width: 37px;
    height: 37px;
    margin: 5px 10px;
    border-radius: 50%;
    float: left;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: left;
}

/* Navigation */
.desktop-nav, .mobile-nav {
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header Links */
.desktop-nav a, .desktop-nav span, .mobile-nav span, .mobile-nav-links a {
    color: var(--footer-link-color);
}

.desktop-nav a:hover, .mobile-nav-links a:hover {
    background-color: var(--secondary-color);
}

/* Content and Headings */
.content {
    padding: 20px;
    margin-top: 70px;
}

h1, h2 {
    color: var(--primary-color);
}

.language-list li {
    background-color: var(--light-background);
}

/* Instruction Boxes */
.instruction-box:nth-child(odd) {
    background-color: var(--alternate-background);
}

.instruction-box:nth-child(even) {
    background-color: var(--alternate-background-light);
}

/* Buttons */
.desktop-nav .download-button, footer .download-button {
    background-color: var(--alternate-background-light);
    color: var(--button-text-color);
    border: 2px solid var(--primary-color);
}

/* Footer */
footer {
    background-color: var(--footer-background);
    color: var(--footer-link-color);
}

.footer-links a {
    color: var(--footer-link-color);
}
.footer-links a:hover {
    text-decoration: underline;
}
