
:root {
    /* Color Variables */
    --primary-color: #1CAFF6;
    --primary-hover-color: #1CAFF6;
    --text-color: #808080;
    --background-color: white;
    --language-background-color: #e0e7ff;
    --instruction-odd-background-color: #f5f8ff;
    --instruction-even-background-color: #dceaff;
    --button-border-color: #005bb5;
    --footer-background-color: white;
    --footer-text-color: #1CAFF6;
    --mobile-nav-background: white;
    --desktop-header-color: white;
    --header-font-color: #1CAFF6;
    --desktop-border-color: #E5E5E5;

    /* Font Variables */
    --primary-font: 'Roboto Slab', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --heading-font: 'Fredoka', sans-serif;
    --header-font: 'Fredoka', sans-serif;
    --header-font-size: 2rem;
    --body-font-size: 18px;
    --heading-font-size: 2.5rem;
    --subheading-font-size: 2rem;
}

/* Mobile Styles */
@media (max-width: 768px) {
    :root {
        --header-font-size: 2.5rem; /* Smaller header font size */
        --body-font-size: 16px; /* Smaller body font size for mobile */
        --heading-font-size: 2.5rem;
        --subheading-font-size: 1.8rem;
    }
}

.logo {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            float: left;    
            transform: rotate(-30deg);
        }
        
        body {
            font-family: var(--primary-font);
            font-size: var(--body-font-size);
            margin: 0;
            padding: 0;
            background-color: var(--background-color);
            color: var(--text-color);
            text-align: left;
        }

        h1 {
            font-family: var(--heading-font);
            font-size: var(--heading-font-size);
            color: var(--primary-color);
            margin-top: 20px;
            font-weight: 600;
            margin: 0;
            margin-bottom: 15px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            padding: 5px 0;
        }

        ol {
            text-align: left;
            margin-left: 20px;
        }

        p, li {
            font-family: var(--primary-font);
            font-size: var(--body-font-size);
            line-height: 1.6;
            color: var( --text-color);
        }

        .container {
            padding: 50px;
            text-align: center;
        }

        body {
            margin-bottom: 65px; /* To ensure content isn't hidden behind the footer */
            scroll-snap-type: y mandatory;
            margin-top: 79px; 
        }

        h2 {
            font-family: var(--heading-font);
            font-size: var(--subheading-font-size);
            color: var(--primary-color);
            margin-top: 15px;
        }

        .language-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
            gap: 10px; /* Adjust the gap between the columns */
        }

        .desktop-nav a, .desktop-nav span, .download-button {
            color: var(--header-font-color);
            font-weight: 500;
            text-decoration: none;
        }

        .language-list li {
            background-color: var(--language-background-color); /* Light background for language items */
            padding: 10px;
            border-radius: 8px;
            text-align: center;
        }

        /* Styling for the instruction boxes */
        .instruction-box {
            display: flex;
            align-items: center;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 15px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .instruction-box:nth-child(odd) {
            background-color: var(--instruction-odd-background-color); /* Match site theme */
        }

        .instruction-box:nth-child(even) {
            background-color: var(--instruction-even-background-color); /* Lighter version */
        }

        .instruction-step {
            background-color: var(--primary-color); /* Theme color */
            color: var(--background-color);
            font-size: 1.5rem;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 15px;
        }

        .instruction-content {
            flex: 1;
        }

        .instruction-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .instruction-description {
            font-size: 1rem;
            line-height: 1.4;
        }

        /* Desktop Navigation */
        .desktop-nav {
            background-color: var(--desktop-header-color);
            border-bottom: 2px solid var(--desktop-border-color);
            display: flex;
            justify-content: space-between; /* Adjusts space between logo + links and button */
            align-items: center;
            padding: 0 5%;
            padding-bottom: 0;
            position: fixed;
            top: 0;
            width: 90%;
            z-index: 1000;
            font-size: var(--header-font-size);
            font-family: var(--header-font);
        }
        
        .desktop-nav a, .desktop-nav span {
            color: var(--header-font-color);
            text-decoration: none;
        }
        
        /* .desktop-nav a:hover {
            border-bottom: 2px solid var(--primary-hover-color);
        } */
        
        .desktop-nav .menu-items {
            display: flex;
            align-items: center;
        }
        
        .desktop-nav .download-button {
            display: flex;
            align-items: center;
            background-color: var(--instruction-even-background-color);
            color: var(--primary-color);
            text-decoration: none;
            padding: 5px 20px;
            border-radius: 20px;
            font-weight: bold;
        }
        
        .desktop-nav .download-button img {
            width: 40px; /* Set the width to an appropriate size */
            height: auto; /* Maintain aspect ratio */
            object-fit: contain; /* Ensure the image fits within the given size */
        }

    
    .desktop-nav .download-button:hover {
        /* background-color: var(--instruction-even-background-color);
        color: inherit;            */
        cursor: pointer;          
    }
    
    /* Mobile Navigation */
    .mobile-nav {
        display: none;
        background-color: var(--mobile-nav-background);
        border-bottom: 2px solid var(--desktop-border-color);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    
    .mobile-nav span {
        color: var(--header-font-color);
        padding: 10px;
        text-align: left;
        text-decoration: none;
        font-weight: 500;
        font-size: var(--header-font-size);
        font-family: var(--header-font);
    }
    
    .mobile-nav .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30px; /* Adjust the width of the button */
        height: 24px; /* Adjust the height for proper spacing between lines */
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 10px; /* Adjust margin if needed */
    }
    
    .mobile-nav .hamburger span {
        width: 100%; /* Full width for each line */
        height: 3px; /* Thickness of each line */
        background-color: var(--background-color); /* Color of the lines */
        display: block;
        border-radius: 2px; /* Adds rounded corners to the lines */
    }
    
    .mobile-nav-links {
        display: none;
        flex-direction: column;
    /*     background-color: #005bb5; */
        background-color: var(--mobile-nav-background);
        position: absolute; /* Make it positioned relative to the viewport */
        top: 60px; /* Adjust this value to ensure it appears below the fixed header */
        width: 100%; /* Make sure it takes up the full width of the screen */
        z-index: 999; /* Ensure it stays on top of other content */
        padding: 10px 0;
    }
    
    .mobile-nav-links a, mobile-nav-links span {
        color: var(--background-color);
        padding: 10px;
        text-align: left;
        text-decoration: none;
    /*     font-weight: bold; */
        font-size: 18px;
    }
    
    .mobile-nav-links.active {
        display: flex;
    }

    .section-holder {
        display: flex;
    }

    .content {
        scroll-snap-align: start;
        min-height: calc(100vh - 140px); /* Each section takes up the full viewport height */
        padding: 0 80px;
        text-align: left;
        align-content: center;
    }

    .language-flag{
        height: auto;
        width: 100px;
    }
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: var(--footer-background-color);
        color: var(--primary-color);
        position: fixed;
        width: -webkit-fill-available;
        bottom: 0;
        border-top: 2px solid var(--desktop-border-color);
        height: 20px;
    }
    
    footer .copyright {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        align-items: center;
    }

    .copyright div {
        padding-top: 5px;
    }
    
    footer .download-button {
        display: flex;
        align-items: center;
        background-color: var(--instruction-even-background-color);
        color: var(--primary-color);
        text-decoration: none;
        border-radius: 20px;
        font-weight: bold;
    /*     border: 2px solid #005bb5; */
        margin-right: 100px; 
        position: absolute;
        right: 0;
    }
    
    /* footer .download-button i {
        scale: 15%;
    } */
    
    footer .download-button img {
        width: 53px; /* Set the width to an appropriate size */
        height: auto; /* Maintain aspect ratio */
        object-fit: contain; /* Ensure the image fits within the given size */
    }

    .footer-links {
        text-align: center;
        padding-bottom: 5px;
    }
    
    .footer-links a {
        color: var(--primary-color);
        text-decoration: none;
        margin: 0 10px;
    }
    
    .footer-links a:hover {
        text-decoration: underline;
}

.language-footer {
    position: fixed;
    bottom: 40px; /* Adjust this to position above the main footer */
    left: 0;
    width: 100%;
    background-color: var(--footer-background-color);
    border-top: 1px solid var(--desktop-border-color);
    padding: 10px;
    z-index: 10; /* Ensures it stays on top of other elements */
    display: flex;
    justify-content: center;
}

.language-footer .language-list {
    display: flex;
    gap: 15px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.language-footer .language-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 0.9rem;
    color: var(--text-color);
    text-align: center;
}

.language-footer .language-flag {
    width: 35px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

    /* Media Query for Mobile Navigation */
    @media (max-width: 768px) {
        .desktop-nav {
            display: none;
        }
    
        .mobile-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: -webkit-fill-available;
        }
    
        .mobile-nav-links {
            display: none; /* Initially hidden */
        }
    
        .mobile-nav-links.active {
            display: flex; /* Display flex on toggle */
        }

        .content{
            padding: 0 35px !important;
        }
     
         .footer-links {
            display: flex;
         }
     
         .footer-links a {
            margin: 0px; /* Remove margins for mobile view */
            min-width: 100px;
        }
        
        .footer-banner {
            min-width: 375px; /* Set min-width for footer banner */
        }

        footer {
            font-size: smaller;
        }
     
        .copyright {
            display: block !important;
        }

        .footer-links {
            display: flex;
        }

        footer .download-button { 
            margin-right: 10px !important; 
        }

        .section-holder {
            display: block;
        }
    }
